[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=X11VNC
Comment=
Exec=x11vnc -forever -usepw -httpport 5900
StartupNotify=false
Treminal=false
Hidden=false