0 4 * * 1 echo "Start" > /home/pi/Pi_Guest-List.txt
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC3.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC2.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC4.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC5.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC6.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC7.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_POSTERBOARD2.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_POSTERBOARD3.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_POSTERBOARD4.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_CONES1.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_CONES2.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_REDEMPTION1.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_REDEMPTION2.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_HARRAHSBRIDGE5.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_HARRAHSBRIDGE3.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_HARRAHSBRIDGE2.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_AUXPEPSI1.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_HARRAHSBRIDGE4.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_HARRAHSBRIDGE1.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINPEPSI.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_BOWLING2.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_BOWLING1.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC1.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_MAINCNC8.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_PIBOXOFFICE3.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_AUXCNC1.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_AUXCNC2.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_AUXCNC3.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_AUXCNC4.sh
*/5 * * * * /home/pi/.rsync/./Pi-Sync_JBAR.sh
#*/5 * * * * /home/pi/.rsync/./Pi-Sync_RETAIL.sh
